#headerHome{
    background: '#ff9f9f';

}


#titleHeader{
    background: black;

    color: white;

    height: 100%;
}

#contentHome{
    position: absolute;

    height: 90%;
}

#footerHome{
    position: absolute;

    bottom: 0px;

    background: pink;

    height: 5%;
}