*{
    margin: 0;
}

#Header{
    margin: 0px;
    padding-left: 30px;
    height: 80px;
    background: black;
    color: white;
}

#Header > h1{
    font-style: italic;
    font-family: 'Barrio', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}

#Content{
    position: absolute;
    height: 88%;
    width: 100%;

    background-image: url("https://opengameart.org/sites/default/files/Transparency500.png");
}

#Footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:30px; 
    background: black;
    color: white;
}

#Footer > h5{
    text-align: right;
    font-style: italic;
    padding-right: 20px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.thing_container{
    margin: 100px;

    width: 200px;
    height: 250px;

    background: white;

    border: 6px solid #eee;
    border-radius: 5px;

    -moz-box-shadow: 5px 5px 12px 0px #000000;
	-webkit-box-shadow: 5px 5px 12px 0px #000000;
	box-shadow: 5px 5px 12px 0px #000000;
}

.thing_container > img{

    height: 200px;
    width: 140px;

    margin-left: 30px;

    border-radius: 5px;
    align-content: center;
    background: transparent;
}

.thing_container > h3{
    text-align: center;

    background: transparent;
    color: black;
}

.thing_container:hover{
    background: #f5f565;
    cursor: pointer;
}